@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none; */
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 100%;
  width: 3px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
*::-webkit-scrollbar-thumb {
  background: #374151;
}
*::-webkit-scrollbar-thumb:hover {
  background: #2d3643; 
}
*::-webkit-scrollbar-corner {
  background: #f1f1f1;
}


.dark-theme {
  background-color: #000000;
  color: ivory;
}

.light-theme {
  background: ivory;
  color: #000;
}

.cl-internal-11ttlho, .cl-internal-180wb59, .cl-internal-180wb59, .cl-internal-lqfubk{
  display: none;
}